
.activity-block{
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* gap: 45px; */
    width: 100%;
    margin: 10px auto;
    
}

.activity-image{
    width: 500px;
    height: 200px;
}

.activity-graph{
    background-color:#32393f;
    width: 70%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;

}

.other-indicators{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    padding: 10px;
    background-color:#32393f;
    border-radius: 10px;
}



.other-indi{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    gap: 50px;
    font-size: 20px;
}

.other-indi-icon i{
    font-size: 42px;
    padding: 10px;
    margin: 5px;
}





@media (min-width: 768px) and (max-width: 1024px) {
   
    .activity-block{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        gap: 20px;
        
    }

    .activity-image{
        max-width: 600px;
        height: 250px;
        text-align: center;
    }
    
    .activity-graph{
        width: 83%;
        text-align: center;
        border-radius: 10px;
        padding: 10px;
    
    }
    
    .other-indicators{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 83%;
        padding: 0px;
    }

    .other-indi{
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .activity-block{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        gap: 20px;
        
    }

    .activity-image{
        max-width: 400px;
        height: 225px;
        text-align: center;
    }
    
    .activity-graph{
        width: 80%;
        text-align: center;
        border-radius: 10px;
        padding: 10px;
    
    }
    
    .other-indicators{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        padding: 0px;
    }

    .other-indi{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-size: 20px;
        gap: 5px;
    }
}

@media (max-width: 480px) {
    .activity-block{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        gap: 20px;
        
    }

    .activity-image{
        max-width: 300px;
        height: 180px;
        text-align: center;
    }
    
    .activity-graph{
        width: 80%;
        border-radius: 10px;
        padding: 10px;
    
    }
    
    .other-indicators{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        padding: 0px;
    }

    .other-indi{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 2px;
    }
}
