.feedback-main{
    width: 40%;
    margin: auto;
}

.feedback-block{
    padding: 10px;
    background-color:#32393f;
    border-radius: 10px;
    color: white;
    width:100%;
}

.feedback-item-title{
    display: flex;
    flex-direction: column;
}

hr{
    color: rgba(211, 211, 211, 0.534);
}







@media (min-width: 768px) and (max-width: 1024px) {
    .feedback-main{
        width: 83%;
        margin: auto;
    }
    
    .feedback-block{
        padding: 10px;

    }
    
    .feedback-item-title{
        display: flex;
        flex-direction: row;
        width: 99%;
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .feedback-main{
        width: 80%;
        margin: auto;
    }
    
    .feedback-block{
        padding: 10px;

    }
    
    .feedback-item-title{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 480px) {
    .feedback-main{
        width: 80%;
        margin: auto;
    }
    
    .feedback-block{
        padding: 10px;
    }
    
    .feedback-item-title{
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
}