

.sidebar li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    text-align: center;
}


.sidebar-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    height: 60vh;
    background-color:#32393f;
    margin: auto;
    margin-top: 100px;
    position: absolute;
    padding: 15px;
    border-radius: 5px;

}

@media (min-width: 768px) and (max-width: 1024px) {
    .sidebar-block{
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        height: 60vh;
        margin: 100px auto;
        position: relative;
        /* padding: 15px; */
        border-radius: 5px;
    }
}

@media (max-width: 767px) {
    .sidebar-block{
        flex-direction: row;
        justify-content: space-around;
        align-items:center;
        height: 12vh;
        width: 80%;
        margin: auto;
        position: relative;
        /* padding: 15px; */
        border-radius: 5px;
    }
}

@media (max-width: 480px) {
    .sidebar-block{
       
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        height: 10vh;
        width: 85%;
        margin: auto;
        position: relative;
        /* padding: 15px; */
        border-radius: 5px;
    }
}

