.body{
    background-color: black;
}

.middle-block{
    display: grid;
    grid-template-columns: 6% 94%;
    gap: 10px;
    padding: 10px;
    width: 100%;
    margin: auto;
}

.last-block{
    display: flex;
    flex-direction: row;
    justify-content:right;
    width: 100%;
    margin: auto;
    padding: 10px;
    align-items: first baseline;
    gap: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .last-block{
        flex-direction: column;
        padding: 10px;
        align-items: first baseline;
        gap: 20px;
    }
  }

@media (max-width: 767px) {
    .middle-block{
        grid-template-columns: 1fr;
    }

    .last-block{
        flex-direction: column;
        padding: 10px;
        justify-content: space-between;
        /* align-items: stretch; */
        gap: 20px;
    }
  }

@media (max-width: 480px) {
    .middle-block{
        grid-template-columns: 1fr;
    }

    .last-block{
        flex-direction: column;
        padding: 10px;
        justify-content: space-between;
        /* align-items: stretch; */
        gap: 20px;
    }
  }


  








@media (min-width: 768px) and (max-width: 1024px) {
   
}

@media (max-width: 767px) {
  
}

@media (max-width: 480px) {
  
}



















@media (min-width: 768px) and (max-width: 1024px) {
   
}

@media (max-width: 767px) {
  
}

@media (max-width: 480px) {
  
}